<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>		
  <add key="caminho1" value="" />
  <add key="caminho2" value="" />
  <add key="caminho3" value="" />
  <add key="caminho4" value="" />
  <add key="caminho5" value="" />
  <add key="caminho6" value="" />
  <add key="caminho7" value="" />
  <add key="caminho8" value="" /> 
	</appSettings>
</configuration>